@{
	ViewData["Title"] = "Index";
}
@model List<AdminModel.RoleViewModel>



<div class="row">
	<div class="col-md-6 offset-md-2">
		<h2>Roller</h2>
	</div>

	<div class="col-md-2">
		<a asp-controller="Roles" class="btn btn-primary" asp-action="RoleCreate" asp-area="Admin">Role əlavə et</a>
	</div>
</div>

<div class="row mt-3">
	<div class="col-md-8 offset-md-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Role Ismi</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Name</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>