@model TwoFactorLoginViewModel

@{
	TempData["Title"] = "TwoFactorLogin";
}


<div class="row">
	<div class="col-md-4 offset-md-4">
		<h4>İki Adımlı Kimlik Doğrulma</h4>
		<hr />

		<form asp-action="TwoFactorLogin" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>


			<div class="form-group my-2">
				<label asp-for="VerificationCode"></label>
				<input asp-for="VerificationCode" class="form-control" />
				<span asp-validation-for="VerificationCode" class="text-danger"></span>
			</div>

			<div class="form-group my-2">
				<input type="checkbox" asp-for="isRememberMe" /> Məni Xatırla
			</div>

			@if (Model.TwoFactorType == TwoFactor.MicrosoftGoogle)
			{
				<div class="form-group my-2">
					<input type="checkbox" asp-for="isRecoveryCode" /> Kurtarma koduna girmək üçün bu kutucuğu işarətliyin.
				</div>
			}

			<div class="form-group">
				<input type="submit" class="btn btn-success my-3" value="Göndər" />
			</div>

		</form>

		<div class="alert alert-info">

			@switch (Model.TwoFactorType)
			{
				case TwoFactor.Phone:
					<span>Telefonunuza gələn sms kodunu bu alana giriniz.</span>
					break;

				case TwoFactor.Email:
					<span>Email addressinizə gələn kodu bu alana giriniz.</span>
					break;
				case TwoFactor.MicrosoftGoogle:
					<span>Microsoft/Google Authenticator uyğulamanızdakı kodu bu alana giriniz.</span>
					break;

				default:
					break;
			}

		</div>

	</div>
</div>
