@{
	ViewData["Title"] = "TwoFactorAuth";
}
@model AuthenticatorViewModel


<h2>İki Adımlı Doğrulama</h2>


<div class="row">
	<div class="dol-md-12">
		<form asp-action="TwoFactorAuth" method="post">
			<div class="form-group">
				<label asp-for="TwoFactorType"></label>
				<select class="form-control" asp-for="TwoFactorType" asp-items="Html.GetEnumSelectList<TwoFactor>()"></select>
			</div>

			<div class="form-group my-3">
				<input type="submit" value="Güncəllə" class="btn btn-success" />
			</div>
		</form>
	</div>


	@if (ViewBag.warning != null)
	{
		<div class="col-md-12">
			<div class="alerr alert-warning">
				@ViewBag.warning
			</div>
		</div>
	}

	@if (TempData["message"] != null)
	{
		<div class="col-md-12">
			<div class="alert alert-info">
				@TempData["message"]
			</div>
		</div>
	}

	@if (TempData["recoveryCodes"] != null)
	{
		<div class="col-md-12">
			<div class="alert alert-info">
				Aşağıdakı kodları güvənli bir yerdə saklayınız. Microsoft/Google Authenticator uyğulamasını kullanamadığınız durumlarda bu kurtalma kodlarını kullanabilirsiniz.
			</div>

			<div class="alert alert-secondary">
				@foreach (var item in TempData["recoveryCodes"] as string[])
				{
					<strong>@item</strong>
				}
			</div>
		</div>
	}
</div>
